{% extends "base.html.j2" %}

{% block content %}
{% include "sections/hero.html.j2" %}
{% include "sections/about.html.j2" %}
{% include "sections/stack.html.j2" %}
{% include "sections/debtclear.html.j2" %}
{% include "sections/projects.html.j2" %}
{% include "sections/experience.html.j2" %}
{% include "sections/stats.html.j2" %}
{% include "sections/contact.html.j2" %}
{% endblock %}
